@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

* {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}
ul,
li {
  list-style-type: none;
}

.clearfix:after,
.clearfix:before {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-y: hidden;
}

button {
  background: none;
  border: none;
}

#wrap {
  height: 100dvh;
}
/* 스크롤 바 스타일 */

#chatbox::-webkit-scrollbar-thumb {
  height: 30%;
  background: #7a6d6d;
  border-radius: 10px;
}

#chatbox::-webkit-scrollbar-track {
  background: #ededed;
}
.header-container {
  /* position: fixed; */
  /* top: 0;
  left: 0; */
  height: 56px;
  width: 100%;
  background-color: #ffffff;
  z-index: 999;
}

header {
  /* position: fixed; */
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 56px;
  transition: transform 0.5s ease, width 0.5s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
header.active {
  transform: translateX(400px);
  width: calc(100% - 400px);
}

header h1 {
  margin-right: auto;
  margin-left: auto;
  line-height: 80px;
  font-size: 20px;
  font-weight: 500;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 56px);
  /* top: 140px; */
  /* bottom: 70px; */
  /* min-height: calc(100vh - 140px); */

  transition: transform 0.5s ease, width 0.5s ease;
  position: relative;
}
.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 70px;
}

.box {
  width: 45%;
  margin-bottom: 20px;
  height: 50px;
  border:1px solid #000;
  border-radius:50px;
  margin: 10px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.send_btn {
  width: 70px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: 10px;
  height: auto;
  float: right;
  right: 0;
  background-image: url(../images/send.png);
  background-size: 30px contain;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-color:#fff;
}
.hamburger-menu {
  width: 25px;
  height: 15px;
  margin-left: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line {
  width: 100%;
  height: 1.5px;
  background-color: black;
  transition: transform 0.3s ease;
}

.hamburger-menu.active .line_1 {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamburger-menu.active .line_2 {
  opacity: 0;
}

.hamburger-menu.active .line_3 {
  transform: rotate(-45deg) translate(3px, -3px);
}

.main h1 {
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  font-weight: 600;
  border-bottom: 1px solid #b3b3b3;
  margin-bottom: 10px;
}

nav {
  width: 0;
  overflow: hidden;
  transition: transform 0.5s ease, width 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  border-right: 1px solid var(--grayscale-border);
  background-color: #2d3439;
  color: #fff;
}

nav.active {
  width: 400px;
}

nav.active li {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

nav:not(.active) li {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

nav li {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

nav button {
  float: right;
  position: relative;
  top: -3px;
}
nav.active + header {
  transform: translateX(400px);
  width: calc(100% - 400px);
}

nav.active + .main {
  transform: translateX(400px);
  width: calc(100% - 400px);
}

nav > ul {
  padding: 60px 20px;
}

nav ul li {
  padding: 8px 8px;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #f1f1f1;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.log-out {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.log-out button:nth-child(1) {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50px;
}

.nav-profile {
  width: 50px;
  margin-right: 3px;
  border: 2px solid #fff;
  border-radius: 50%;
}

.logoutBtn {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
  margin-left: 5px;
  display: none;
}

.logoutBtn.active {
  display: block;
}

.nav-item span {
  margin-left: 10px;
  font-size: 16px;
}

.nav-item button {
  margin-left: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
  color: white;
  font-size: 16px;
}

.nav-item:hover button {
  display: block;
}

/* .sub-post {
  display: flex;
  column-gap: 10px;
  width: 100%;
  padding: 12px;
  font-weight: 400;
  background: #6a5acd;
  color: #fff;
  margin-bottom: 20px;
} */
.sub-post {
  display: flex;
  column-gap: 10px;
  width: 100%;
  padding: 12px;
  /* position: fixed; */
  /* top: 80px; */
  /* left: 0; */
  width: 100%;
  height: 60px;
  background-color: #6a5acd;
  color: #ffffff;
  z-index: 998;
  transition: transform 0.5s ease, width 0.5s ease;
}
.sub-post.active {
  transform: translateX(400px);
  width: calc(100% - 400px);
}
#chatbox {
  height: 100%;
  flex: 1 1 0%;
  /* flex: 1;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff; */
  position: relative;
  overflow-y: auto;
  /* bottom: 0;
  left: 0; */
  width: 100%;
  box-sizing: border-box;
  /* max-height: calc(100vh - 210px); */
  padding: 20px;
}
.center_logo {
  text-align: center;
}

.center_logo img {
  width: 100px;
  height: auto;
  margin-bottom: 0px;
}

.center_logo p {
  font-size: 18px;
  color: #333;
}
.chat-message {
  margin-bottom: 3px;
  max-width: fit-content;
  display: flex;
}

.message-content {
  border-radius: 5px;
  padding: 10px;
  background-color: #f3f4f6;
  color: #000;
}

.bot-message .message-content {
  background-color: #5aaadc;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin-right: 60px;
}

.input-message {
  border-radius: 5px;
  margin-right: auto;
  margin-left: 10px;
  padding: 10px;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius:30px;
}
textarea::-webkit-scrollbar {
  width: 0;
}
/* textarea#user-input {
  flex: 1;
  padding: 10px;
  resize: vertical;
  background:none;
  border: none;
  border-top: 1px solid #ccc;
  font-weight:500;
  font-family: 'Quicksand', sans-serif;
}
.icons {
  display: flex;
  gap: 10px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.icons button {
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
} */
textarea {
  min-height: 20px;
  max-height: 204px;
  width: calc(100% - 20px);
  margin-bottom: 60px;
  border: none;
  border-top: 1px solid #888;
  width: 100%;
  padding:10px;
  font-weight:500;
}

.icons {
  display: flex;
  position: fixed; 
  bottom: 15px;
  left: 10px;
  z-index: 999; 
}

.icons button {
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
}

.send-icon {
  position: fixed;
  bottom: 15px;
  right: 10px;
  z-index: 999;
}

.send-icon button {
  background: none;
  border: none;
  cursor: pointer;
  color: #888;
}
.icons button i {
  font-size: 20px;
  margin-left:10px;
}
.send-icon i{
  font-size:20px;
  margin-right:10px;
}
.icons button:hover {
  color: #333;
}
input[type='submit'] {
  width: 70px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  padding: 10px;
  position: absolute;
  border-left: 1px solid rgb(229, 230, 231);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-avatar {
  float: right;
  margin-left: 10px;
}

.bot-avatar {
  float: right;
  margin-right: 10px;
}

.user-message {
  width: 60%;
  word-wrap: break-word;
  clear: both;
  text-align: right;
  border-radius: 5px;
  margin-left: auto;
  margin-right: 10px;
}

.bot-message {
  width: 70%;
  word-wrap: break-word;
  clear: both;
  text-align: left;
  border-radius: 5px;
  margin-right: auto;
}

.button-container {
  margin-top: 10px;
}

.button-container button {
  width: 100%;
  border: none;
  background-color: #fff;
  padding: 5px;
  font-weight: 600;
  margin: 3px 0px 3px 0px;
}

#hiddenButtons {
  display: none;
  width: 100%;
  padding: 10px;
  background: #f3f4f6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 9;
  border-bottom: 1px solid #e5e6e7;
}

.show-options-btn {
  width: 70px;
  height: auto;
  position: absolute;
  left: 0;
  color: #6a5acd;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: 1px solid rgb(229, 230, 231);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

header .new-chat {
  cursor: pointer;
  align-items: center;
  margin-right: 30px;
}
.new-chat i{
  font-size:20px;
}

/* #chat-form {
  position: relative;
  margin-bottom: 0;
} */
.chat-form {
  position: relative;
  display: flex;
  align-items: center;
}
.below-message-buttons {
  display: none; 
}

.below-message-button {
  margin-right: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 30px;
}

.hidden-button {
  border-radius: 18px 18px 18px 18px;
  padding: 10px;
  background: #ffffff;
  color: #303335;
  max-width: 45%;
  clear: both;
  line-height: 1.4;
  word-break: normal;
  word-wrap: break-word;
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;
  font-size: 10.5pt;
  border: 1px solid #e0e1e2;
  margin: 5px;
  border:none;
}
.bot-message-time {
  display: block;
  font-size: 12px;
  color: #888;
  margin: 5px 50px 20px;
}

.user-message-time {
  float: right;
  display: block;
  font-size: 12px;
  color: #888;
  margin: 5px 50px 20px;
}

/*login*/
input::placeholder {
  opacity: 35%;
}
.login-wrap {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 525px;
  min-height: 670px;
}
.login-html {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 70px 50px 70px;
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}
.login-html .sign-in-htm {
  backface-visibility: visible;
  transform: rotateY(360deg);
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  /* text-transform:uppercase; */
  color: #fff;
  display: block;
  position: relative;
  top: 0;
  left: 0;
}
.login-html .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: #000;
  border-color: #6a5acd;
}
.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.login-form .group {
  margin-bottom: 15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: #6a5acd;
  display: block;
}
.login-form .group .input,
.login-form .group .button {
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  height: auto;
  margin-top: 10px;
  border: 1px solid #6a5acd;
}
.login-form .group input[data-type='password'] {
  text-security: circle;
  -webkit-text-security: circle;
}
.login-form .group .label {
  color: #aaa;
  font-size: 12px;
}
.login-form .group .button {
  background: #6a5acd;
  color: #fff;
}
.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  border: 1px solid #6a5acd;
  top: 3px;
  margin-right: 5px;
}
.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: '';
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}
.login-form .group label .icon:before {
  left: 2px;
  width: 5px;
  bottom: 4px;
  transform: scale(0) rotate(0);
}
.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label {
  color: #000;
}
.login-form .group .check:checked + label .icon {
  background: #6a5acd;
  top: 3px;
  margin-right: 5px;
}
.login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}
.login-html
  .sign-in:checked
  + .tab
  + .sign-up
  + .tab
  + .login-form
  .sign-in-htm {
  transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0);
}

.forgot-password {
  text-align: center;
}
.dark-mode-toggle {
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 40px;
  height: 40px;
 background-image: url(../images/dark_mode.png);
 border-radius: 50%;
 background-size: 100%;
 cursor: pointer;
 background-repeat: no-repeat;
}

.dark-mode-toggle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
}

/* 다크 모드일 때 아이콘 색상 변경 */
.dark-mode {
  background-color: #111729;
  color: #fff;
}
.dark-mode p{
  color:#fff;
}
.dark-mode header {
  background-color: #222;
  color:#fff;
}
.dark-mode .main {
  background-color: #222;
}
.dark-mode .box {
 border:1px solid #fff;
}
.dark-mode .message-content{
  background-color:#5aaadc;
  color:#fff;
}
.dark-mode .user-message .message-content{
  background-color: #5b6371;
}
.dark-mode form{
  border-top:1px solid #fff;
}
.dark-mode textarea{
  border-top: 1px solid #fff;
  color:#fff;
   background:none;
}
.dark-mode textarea::placeholder{
  color:#fff;
}
.dark-mode .hidden-button{
  background:none;
  color:#fff;
}
.dark-mode .below-message-button{
  color:#fff;
}
.dark-mode .line{
  background-color:#fff;
}
.dark-mode-toggle.dark-mode:before {
  background-color: #fff;
}
.dark-mode .new-chat i{
  color:#fff;
}
.dark-mode .icons button i {
  color: #fff;
}
.dark-mode .send-icon i{
  color:#fff;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 999;
  }

  nav {
    margin-top: 56px;
  }

  header.active {
    transform: none;
    width: 100%;
  }
  .sub-post.active {
    transform: none;
    width: 100%;
}
  nav.active {
    width: 100%;
    margin-top: 56px;
  }

  .main {
    width: 100%;
    transform: translateX(0);
  }

  nav.active + header,
  nav.active + .main,
  nav.active + .sub-post {
    transform: translateX(0);
    width: 100%;
  }

  nav > ul {
    padding: 20px;
  }

  .login-wrap {
    width: 100%;
    max-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: none;
    box-sizing: border-box;
  }

  #chatbox {
    height: 100%;
    flex: 1 1 0%;
  }
  .box{
    width:100%;
  }
  .chat-form {
    width: 100%;
  }

  .bot-message {
    width: 100%;
    margin-left: 0;
  }

  .user-message {
    margin-right: 0;
  }

  .main h1 {
    border-bottom: 1px solid #b3b3b3;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 486px) {
  .hidden-button {
    font-size: 2.8vw;
    padding: 7px;
    margin: 3px;
  }
}
@media screen and (max-width: 360px) {
  .main {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 0;
    padding: 0;
  }
  #chatbox {
    /* max-height: calc(100vh - 120px); */
    padding: 0;
  }
  .bot-message {
    width: 100%;
    margin-left: 0;
  }
  .user-message {
    margin-right: 0;
  }
  .main h1 {
    border-bottom: 1px solid #b3b3b3;
    margin-bottom: 10px;
    font-size: 5vw;
  }
  #hiddenButtons {
    top: -110%;
  }
  .hidden-button {
    font-size: 2.4vw;
  }
}
